

/* FONTS */


@font-face {
    font-family: "sahel-b";
    src: url("../font/Sahel-b.ttf");
}

@font-face {
    font-family: "sahel-r";
    src: url(../font/Sahel-r.ttf);
}

@font-face {
    font-family: "shabnam-r";
    src: url(../font/shabnam-r.ttf);
}

@font-face {
    font-family: "shabnam-b";
    src: url(../font/shabnam-b.ttf);
}



/* STYLES */


#title-center{
    text-align: center;
    font-family: "sahel-b";
    font-size: 100px;
    color: white;
}

#subtitle-center-big{
    text-align: center;
    font-family: "shabnam-r";
    font-size: 27px;
    color: white;
}

#subtitle-center-big-b{
    text-align: center;
    font-family: "shabnam-b";
    font-size: 27px;
    color: white;
}

#subtitle-center-small{
    text-align: center;
    font-family: "shabnam-r";
    font-size: 17px;
    color: white;
}

#subtitle-center-small-b{
    text-align: center;
    font-family: "shabnam-b";
    font-size: 17px;
    color: white;
}

#center{
    text-align: center;
}

.center{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* TAG STYLES */


body{
    background-color: rgb(107, 157, 209);
}

a{
    color: rgb(191, 234, 178);
    text-decoration: none;
}

a:hover{
    color: rgb(129, 236, 96);
}